@keyframes loading {
    from {
        background-image: repeating-linear-gradient(to right, var(--color-primary, --color-secondary));
    }
    to {
        background-image: repeating-linear-gradient(to right, var(--color-secondary, --color-primary));
    }
}

.loading-line {
    height: 12px;
    animation-name: loading;
    animation-duration: 0.5s;
    animation-timing-function: linear;    
}