#flash-sale-controller {
    display: flex;
    flex-direction: row;
    gap: 8px;

    > button {
        display: relative;
        background-color: var(--color-secondary);
        height: 45px;
        width: 45px;
        border-radius: 22.5px;

        > * {
            display: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
        }
    }
}