.product {
    position: relative;
    width: 270px;
    height: 350px;
    font-weight: 600;

    >* {
        position: absolute;
    }
}

.product-content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}

.product-img {
    display: absolute;
    aspect-ratio: 27 / 25;
    background-color: var(--color-secondary);
    width: auto;
    object-fit: contain;
}

.product-info {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.product-price {
    display: flex;
    font-size: 14px;
    align-items: end;
    gap: 12px;

    cite {
        color: var(--color-danger);
        font-style: normal;
    }

    em {
        font-size: 12px;
        text-decoration: line-through;
        color: var(--color-overlay);
    }
}

.product-rating {
    display: flex;
    align-items: end;
}

.product-rating-count {
    font-size: 12px;
    color: var(--color-overlay);
    font-weight: normal;
}

.product-discount {
    left: 12px;
    top: 12px;
    background-color: var(--color-danger);
    color: var(--color-white);
    width: 55px;
    height: 26px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 4px;
    font-size: 12px;
    font-weight: normal;
}

.product-function {
    display: flex;
    flex-direction: column;
    gap: 8px;
    right: 12px;
    top: 12px;

    > button {
        display: flex;
        background-color: var(--color-white);
        width: 34px;
        height: 34px;
        border-radius: 17px;
        justify-content: center;
        align-items: center;
    }
}

.product-img-container {
    position: relative;
    overflow: hidden;
    border-radius: 4px;
}

.product a {
    cursor: pointer;
}

.product a:hover {
    text-decoration: underline;
}

.product a:active {
    text-decoration: none;
}

.product-img-container:hover {
    .add-to-cart-btn {
        display: block;
    }
}

.add-to-cart-btn {
    display: absolute;
    top: 0px;
    height: 40px;
    transform: translateY(-40px);
    width: 100%;
    background-color: var(--color-primary);
    color: white;
    text-align: center;
    display: none;
    border-radius: 0 0 4px 4px;
}
