.banner {
    display: flex;
    flex-grow: 1;
    justify-content: center;
    align-self: center;
}

.slideshow {
    position: relative;
    overflow: hidden;
    width: 100%;
    max-width: 892px;
    padding-top: calc(0.38 * min(100%, 892px));
    margin: 24px 0 24px 24px;
}

@media (max-width: 1000px) {
    .slideshow {
        margin: 10px;
    }
}

.slideshow-slider {
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    white-space: nowrap;
    transition: ease 1000ms;
}

.slide {
    display: inline-block;
    max-height: 400px;
    height: 100%;
    width: 100%;
    object-fit: contain;
}

/* Buttons */

.slideshow-dots {
    position: absolute;
    bottom: 12px;
    width: 100%;
    text-align: center;
}

.slideshow-dot {
    display: inline-block;
    height: 12px;
    width: 12px;
    border-radius: 50%;

    cursor: pointer;
    margin: 0px 6px;

    background-color: var(--color-overlay);
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.slideshow-dot.active {
    background-color: var(--color-danger);
    border: 2px solid var(--color-white);
}