.btn {
    background-color: var(--color-danger);
    color: var(--color-white);
    padding: 10px;
    width: fit-content;
    border-radius: 4px;
    text-align: center;
    vertical-align: center;
}

.btn:hover {
    background-color: hsl(from var(--color-danger) h s calc(0.8*l));
}

.btn:active {
    background-color: hsl(from var(--color-danger) h s calc(0.5*l));
}

.flexible {
    gap: 20px;
    align-items: start;

    > * {
        flex-grow: 1;
    }
}

.account-info-form {
    height: fit-content;
    width: 45%;
    min-width: 400px
}

@media (max-width: 800px) {
    .gapper {
        gap: 8px;
    }

    .flexible {
        flex-direction: column;
        gap: 8px;
        padding: 10px;
    }

    .account-info-form {
        width: 100%;
        min-width: 100%;
    }
}